:root {
  --primary-color:#{ $primary-color};
  --secondary-color:#{$secondary-color};
  --white-color:#{$white-color};
  --button-color:#{$black-color};
  --dark-grey: #{$dark-grey};
  --light-grey:#{$light-grey};
  --dark-blue-text: #{$dark-blue-text}; // For Headings
}

[data-theme="dark"] {
  --primary-color: #{$black-color};
  --secondary-color:#{$secondary-color};
  --white-color:#{$black-color};
  --button-color:#{$white-color};
  --dark-grey:#{$black-color};
  --light-grey: #{$light-grey};
  --dark-blue-text: #{$purple-color};
}

html {
  font-size: 62.5%;

  &.sr .load-hidden {
    visibility: hidden;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  background-color: var(--white-color);
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar thumb on hover */
}
