// COLORS

$primary-color: #02aab0;
$secondary-color: #00cdac;
$white-color: #fefefe;
$dark-grey: #333333;
$light-grey: #d2d2d2;
$dark-blue-text: #272341; // For Headings
$black-color: #000000;
$purple-color: #9075da;
$fallback-color-light: rgba(0,0,0,0.4);
$fallback-color-dark:rgba(0, 0, 0, 0.5);
$major-fill:#9600cd;
$arrow-text:#01d9ff;




// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;